/*
  Look ma, no JS!
*/

html {
    background-color: #3e4654;
    color: #abb2bf;
    font-family: 'Fira Code', monospace;
}

.titlebar .name {
    color: #98c379;
    font-weight: bold;
}

.titlebar .menuopts {
    position: fixed;
    top: 8px;
    right: 12px;
}

.titlebar .menuopts .menuopt {
    color: #e5c07b;
    font-weight: bold;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px;
    user-select: none;
}